<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Dear User,
    </p>
    <p>
       <%= @letter.content %>
    </p>
      <% if @letter.image.present?%>
        <%= image_tag @letter.image.url %>
      <%end%>
    <p>
      Thanks for connecting with us.
    </p>
  </body>
</html>
