<p>
  Dear <%= @user.first_name ? @user.first_name : @user.email %>,
</p>
<p>
   <%= @letter.content %>
</p>
  <%# if @letter.image.present?%>
    <%#= image_tag @letter.image.url %>
  <%#end%>
<p>
  Thanks for connecting with us.
</p>

